#radioA > div{
    display: flex;
    margin: auto;
    justify-content: center;
    position: absolute;
    top: 2rem;
    right: 2rem;
}
input[type='radio']{
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;   
    /* margin-top: -1rem; */ 
}
input[type='radio']:active{
    border: 6px solid whitesmoke;
    outline: unset !important;
    justify-content: center;
}
label{
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin: 7px;
}
body{
    color:whitesmoke;
}
#divFull{
    background-color: #242424;
}