html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  font-size: 15px;
}

form {
  width: 25%;
}

#no {
  all: unset;
  height: 25px;
  width: 75px;
  margin: auto;
  font-size: large;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgb(210, 210, 210);
}
#autostart {
  width: 35px;
  height: 35px;
}

.nav-bar-button-item {
  text-align: center;

  display: inline-block;
  font-size: 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 3px 5px;
  border: 2px solid #555555;
  border-radius: 15px;
  box-shadow: 3px 3px 2px 1.5px rgb(188, 188, 188);
  margin-right: 5px;
}

.nav-bar-button-item:hover {
  background-color: rgb(91, 215, 249);
  color: black;
  margin-top: 12px;
}
.nav-bar-button-item:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}

.nav-bar-select {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  font-size: 15px;
}

.nav-bar.nav-bar-select-item {
  font-size: 15px;
}

.select-text {
  color: #555555;
  font-size: 15px;
}

/* #codeblock {
  position: absolute;
  bottom: 10px;
  right: 10px;
} */

.code {
  padding: 15px;
  margin: -2px;
}

h6 {
  font-size: 2rem !important;
  line-height: 0.1px;
}

#divison {
  width: 52%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

#input {
  width: 50%;
  margin: -52px 0px 0px 25px;
}

.input-label {
  font-size: 22px;
  color: #c0c0c0;
}

#input-text {
  all: unset;
  color: #c0c0c0;
  padding-left: 10px;
  font-size: 22px;
  border: 2px solid #7a1c38;
  border-radius: 6px;
  width: 700px;
  height: 30px;
}
.bi-fast-forward {
  color: white;
}
